.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
    transition: all .2s;
    margin-right: 10px;
}

.material-icons:hover {
    opacity: .5;
    transform: translateY(-5px);
}

.vote-box {
    display: flex;
    align-items: center;
}